@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* WHOLE BODY */
/* ***************************************************** */
body { 
    background-image: url(../icons/bg.png);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
}

a:link, a:visited {
    color: rgb(200, 200, 200);
}

a:hover, a:active {
    color: #0049ff;
}
/* ***************************************************** */

/* HEADER */
/* ***************************************************** */
header {
    padding: 20px;
    padding-bottom: 0;
}

h1 { 
    color: #0049ff;
    font-weight: 725;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 0;
}
/* ***************************************************** */

/* NAVIGATION BAR */
/* ***************************************************** */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li a:link, li a:visited {
    color: white;
    text-decoration: none;
    text-align: center;
}

li a:hover, li a:active {
    text-decoration: underline;
}
/* ***************************************************** */

/* MAIN BODY TEXT */
/* ***************************************************** */
section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main {
    width: max-content;
    background-color: rgb(13, 13, 13);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.button {
    background-color: #0049ff;
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
}

.button a:link, .button a:visited {
    color: white;
    text-decoration: none;
    text-align: center;
}

.button a:hover, .button a:active {
    text-decoration: underline;
}
/* ***************************************************** */

/* FOOTER */
/* ***************************************************** */
footer {
    background-color: black;
    padding: 10px;
    font-size: smaller;
    text-align: center;
}
/* ***************************************************** */